---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1494443142'
      Etag:
      - W/"669ea0c5e7b78cf1836181aa18b0fda5"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_USER_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_USER_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":82723214,"name":"archived_black_thursday","full_name":"dianawhalen/archived_black_thursday","owner":{"login":"dianawhalen","id":19878868,"avatar_url":"https://avatars2.githubusercontent.com/u/19878868?v=3","gravatar_id":"","url":"https://api.github.com/users/dianawhalen","html_url":"https://github.com/dianawhalen","followers_url":"https://api.github.com/users/dianawhalen/followers","following_url":"https://api.github.com/users/dianawhalen/following{/other_user}","gists_url":"https://api.github.com/users/dianawhalen/gists{/gist_id}","starred_url":"https://api.github.com/users/dianawhalen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dianawhalen/subscriptions","organizations_url":"https://api.github.com/users/dianawhalen/orgs","repos_url":"https://api.github.com/users/dianawhalen/repos","events_url":"https://api.github.com/users/dianawhalen/events{/privacy}","received_events_url":"https://api.github.com/users/dianawhalen/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dianawhalen/archived_black_thursday","description":null,"fork":true,"url":"https://api.github.com/repos/dianawhalen/archived_black_thursday","forks_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/forks","keys_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/teams","hooks_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/hooks","issue_events_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/issues/events{/number}","events_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/events","assignees_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/assignees{/user}","branches_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/branches{/branch}","tags_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/tags","blobs_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/git/refs{/sha}","trees_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/statuses/{sha}","languages_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/languages","stargazers_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/stargazers","contributors_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/contributors","subscribers_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/subscribers","subscription_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/subscription","commits_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/commits{/sha}","git_commits_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/git/commits{/sha}","comments_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/comments{/number}","issue_comment_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/issues/comments{/number}","contents_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/contents/{+path}","compare_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/merges","archive_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/downloads","issues_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/issues{/number}","pulls_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/pulls{/number}","milestones_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/milestones{/number}","notifications_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/labels{/name}","releases_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/releases{/id}","deployments_url":"https://api.github.com/repos/dianawhalen/archived_black_thursday/deployments","created_at":"2017-02-21T20:20:43Z","updated_at":"2017-03-14T02:34:27Z","pushed_at":"2017-03-02T15:38:53Z","git_url":"git://github.com/dianawhalen/archived_black_thursday.git","ssh_url":"git@github.com:dianawhalen/archived_black_thursday.git","clone_url":"https://github.com/dianawhalen/archived_black_thursday.git","svn_url":"https://github.com/dianawhalen/archived_black_thursday","homepage":null,"size":2421,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":82948358,"name":"advanced_enums","full_name":"jk1dd/advanced_enums","owner":{"login":"jk1dd","id":20495477,"avatar_url":"https://avatars2.githubusercontent.com/u/20495477?v=3","gravatar_id":"","url":"https://api.github.com/users/jk1dd","html_url":"https://github.com/jk1dd","followers_url":"https://api.github.com/users/jk1dd/followers","following_url":"https://api.github.com/users/jk1dd/following{/other_user}","gists_url":"https://api.github.com/users/jk1dd/gists{/gist_id}","starred_[...]
