---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1494543132'
      Etag:
      - W/"d85fc2c3dba611bdf240eaac6636233c"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jasonnoble","id":22501,"avatar_url":"https://avatars1.githubusercontent.com/u/22501?v=3","gravatar_id":"","url":"https://api.github.com/users/jasonnoble","html_url":"https://github.com/jasonnoble","followers_url":"https://api.github.com/users/jasonnoble/followers","following_url":"https://api.github.com/users/jasonnoble/following{/other_user}","gists_url":"https://api.github.com/users/jasonnoble/gists{/gist_id}","starred_url":"https://api.github.com/users/jasonnoble/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jasonnoble/subscriptions","organizations_url":"https://api.github.com/users/jasonnoble/orgs","repos_url":"https://api.github.com/users/jasonnoble/repos","events_url":"https://api.github.com/users/jasonnoble/events{/privacy}","received_events_url":"https://api.github.com/users/jasonnoble/received_events","type":"User","site_admin":false},{"login":"jcasimir","id":43102,"avatar_url":"https://avatars2.githubusercontent.com/u/43102?v=3","gravatar_id":"","url":"https://api.github.com/users/jcasimir","html_url":"https://github.com/jcasimir","followers_url":"https://api.github.com/users/jcasimir/followers","following_url":"https://api.github.com/users/jcasimir/following{/other_user}","gists_url":"https://api.github.com/users/jcasimir/gists{/gist_id}","starred_url":"https://api.github.com/users/jcasimir/starred{/owner}{/repo}","s[...]
