---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1494543132'
      Etag:
      - W/"056ce2fa76642825189aadafdab2a781"
      Last-Modified:
      - Mon, 08 May 2017 16:39:53 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jk1dd","id":20495477,"avatar_url":"https://avatars2.githubusercontent.com/u/20495477?v=3","gravatar_id":"","url":"https://api.github.com/users/jk1dd","html_url":"https://github.com/jk1dd","followers_url":"https://api.github.com/users/jk1dd/followers","following_url":"https://api.github.com/users/jk1dd/following{/other_user}","gists_url":"https://api.github.com/users/jk1dd/gists{/gist_id}","starred_url":"https://api.github.com/users/jk1dd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jk1dd/subscriptions","organizations_url":"https://api.github.com/users/jk1dd/orgs","repos_url":"https://api.github.com/users/jk1dd/repos","events_url":"https://api.github.com/users/jk1dd/events{/privacy}","received_events_url":"https://api.github.com/users/jk1dd/received_events","type":"User","site_admin":false,"name":"Jonathan
        Kidd","company":"@turingschool","blog":"","location":"Denver, CO","email":"kidd.jonathan.j@gmail.com","hireable":true,"bio":"Back-End
        Engineering Student at Turing School of Software and Design.","public_repos":34,"public_gists":14,"followers":5,"following":27,"created_at":"2016-07-16T23:05:21Z","updated_at":"2017-05-08T16:39:53Z"}'
  recorded_at: Thu, 11 May 2017 21:52:24 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1494543132'
      Etag:
      - W/"5d4b3e8c1a1daaeca1f332b9040ec992"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90681304,"name":"api-curious","full_name":"jk1dd/api-curious","owner":{"login":"jk1dd","id":20495477,"avatar_url":"https://avatars2.githubusercontent.com/u/20495477?v=3","gravatar_id":"","url":"https://api.github.com/users/jk1dd","html_url":"https://github.com/jk1dd","followers_url":"https://api.github.com/users/jk1dd/followers","following_url":"https://api.github.com/users/jk1dd/following{/other_user}","gists_url":"https://api.github.com/users/jk1dd/gists{/gist_id}","starred_url":"https://api.github.com/users/jk1dd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jk1dd/subscriptions","organizations_url":"https://api.github.com/users/jk1dd/orgs","repos_url":"https://api.github.com/users/jk1dd/repos","events_url":"https://api.github.com/users/jk1dd/events{/privacy}","received_events_url":"https://api.github.com/users/jk1dd/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jk1dd/api-curious","description":null,"fork":false,"url":"https://api.github.com/repos/jk1dd/api-curious","forks_url":"https://api.github.com/repos/jk1dd/api-curious/forks","keys_url":"https://api.github.com/repos/jk1dd/api-curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jk1dd/api-curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jk1dd/api-curious/teams","hooks_url":"https://api.github.com/repos/jk1dd/api-curious/hooks","issue_events_url":"https://api.github.com/repos/jk1dd/api-curious/issues/events{/number}","events_url":"https://api.github.com/repos/jk1dd/api-curious/events","assignees_url":"https://api.github.com/repos/jk1dd/api-curious/assignees{/user}","branches_url":"https://api.github.com/repos/jk1dd/api-curious/branches{/branch}","tags_url":"https://api.github.com/repos/jk1dd/api-curious/tags","blobs_url":"https://api.github.com/repos/jk1dd/api-curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jk1dd/api-curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jk1dd/api-curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/jk1dd/api-curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jk1dd/api-curious/statuses/{sha}","languages_url":"https://api.github.com/repos/jk1dd/api-curious/languages","stargazers_url":"https://api.github.com/repos/jk1dd/api-curious/stargazers","contributors_url":"https://api.github.com/repos/jk1dd/api-curious/contributors","subscribers_url":"https://api.github.com/repos/jk1dd/api-curious/subscribers","subscription_url":"https://api.github.com/repos/jk1dd/api-curious/subscription","commits_url":"https://api.github.com/repos/jk1dd/api-curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/jk1dd/api-curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/jk1dd/api-curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/jk1dd/api-curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/jk1dd/api-curious/contents/{+path}","compare_url":"https://api.github.com/repos/jk1dd/api-curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jk1dd/api-curious/merges","archive_url":"https://api.github.com/repos/jk1dd/api-curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jk1dd/api-curious/downloads","issues_url":"https://api.github.com/repos/jk1dd/api-curious/issues{/number}","pulls_url":"https://api.github.com/repos/jk1dd/api-curious/pulls{/number}","milestones_url":"https://api.github.com/repos/jk1dd/api-curious/milestones{/number}","notifications_url":"https://api.github.com/repos/jk1dd/api-curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jk1dd/api-curious/labels{/name}","releases_url":"https://api.github.com/repos/jk1dd/api-curious/releases{/id}","deployments_url":"https://api.github.com/repos/jk1dd/api-curious/deployments","created_at":"2017-05-08T23:25:54Z","updated_at":"2017-05-10T01:10:46Z","pushed_at":"2017-05-11T20:43:02Z","git_url":"git://github.com/jk1dd/api-curious.git","ssh_url":"git@github.com:jk1dd/api-curious.git","clone_url":"https://github.com/jk1dd/api-curious.git","svn_url":"https://github.com/jk1dd/api-curious","homepage":null,"size":174,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Thu, 11 May 2017 21:52:24 GMT
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1494543132'
      Etag:
      - W/"68306707e346110[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1494543132'
      Etag:
      - W/"d85fc2c3dba611b[...]
- request:
    method: get
    uri: https://api.github.com/user/orgs?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1494543132'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"You need at least read:org scope or user scope to list
        your organizations.","documentation_url":"https://developer.github.com/v3/orgs/#list-your-organizations"}'
  recorded_at: Thu, 11 May 2017 21:52:25 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/jk1dd/events?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1494543132'
      Etag:
      - W/"4e3a097fc0dd768cb3f003de83d96ce4"
      Last-Modified:
      - Thu, 11 May 2017 20:43:03 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/20495477/events?access_token=<GITHUB_USER_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/20495477/events?access_token=<GITHUB_USER_TOKEN>&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5856528487","type":"PushEvent","actor":{"id":20495477,"login":"jk1dd","display_login":"jk1dd","gravatar_id":"","url":"https://api.github.com/users/jk1dd","avatar_url":"https://avatars.githubusercontent.com/u/20495477?"},"repo":{"id":90681304,"name":"jk1dd/api-curious","url":"https://api.github.com/repos/jk1dd/api-curious"},"payload":{"push_id":1734350610,"size":1,"distinct_size":1,"ref":"refs/heads/recent_events","head":"ca3955595ca7a9a2eab7733be327eae19f6b0055","before":"60adba563b9fae2f8b8eade0057476268fb14b01","commits":[{"sha":"ca3955595ca7a9a2eab7733be327eae19f6b0055","author":{"email":"portajonk@gmail.com","name":"jk1dd"},"message":"clean
        out all comments and prys, and add test for User object","distinct":true,"url":"https://api.github.com/repos/jk1dd/api-curious/commits/ca3955595ca7a9a2eab7733be327eae19f6b0055"}]},"public":true,"created_at":"2017-05-11T20:43:03Z"},{"id":"5856474093","type":"PushEvent","actor":{"id":20495477,"login":"jk1dd","display_login":"jk1dd","gravatar_id":"","url":"https://api.github.com/users/jk1dd","avatar_url":"https://avatars.githubusercontent.com/u/20495477?"},"repo":{"id":90681304,"name":"jk1dd/api-curious","url":"https://api.github.com/repos/jk1dd/api-curious"},"payload":{"push_id":1734334836,"size":1,"distinct_size":1,"ref":"refs/heads/recent_events","head":"60adba563b9fae2f8b8eade005[...]
