<div class="my-events">
  <% @events.each do |event| %>
  <p><%= event.id %></p>
  <p><%= event.type %></p>
  <p><%#= event.payload %></p>
  <% end %>
  <%#= @events.first.push_events(current_user.token, current_user.nickname) %>
  <%#= @events.first.commits(current_user.token, current_user.nickname) %>

</div>
